<!DOCTYPE html>
<html>
  <head>
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload File</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
